<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" href="https://cdn.korzh.com/metroui/v4/css/metro-all.min.css">
</head>
<body>
<nav data-role="ribbonmenu">
    <ul class="tabs-holder">
        <li><a href="#section-group">Grupo</a></li>
    </ul>

    <div class="content-holder">
        <div class="section" id="section-group">
            <div class="group">

                <div data-role="button-group" data-cls-active="active">
                    <button class="ribbon-button">
                        <span class="icon">
                            <span class="mif-vertical-align-top"></span>
                        </span>
                        <span class="caption">Topo</span>
                    </button>
                    <button class="ribbon-button">
                        <span class="icon">
                            <span class="mif-vertical-align-center"></span>
                        </span>
                        <span class="caption">Centro</span>
                    </button>
                    <button class="ribbon-button">
                        <span class="icon">
                            <span class="mif-vertical-align-bottom"></span>
                        </span>
                        <span class="caption">Baixo</span>
                    </button>
                </div>

                <span class="title">Role group</span>
            </div>

            <div class="group">
                <div class="ribbon-toggle-group">
                    <button class="ribbon-icon-button">
                            <span class="icon">
                                <span class="mif-list"></span>
                            </span>
                        <span class="caption">Lista</span>
                    </button>

                    <button class="ribbon-icon-button">
                            <span class="icon">
                                <span class="mif-apps"></span>
                            </span>
                        <span class="caption">Content</span>
                    </button>

                    <button class="ribbon-icon-button">
                            <span class="icon">
                                <span class="mif-table"></span>
                            </span>
                        <span class="caption">Icones</span>
                    </button>

                    <button class="ribbon-icon-button">
                            <span class="icon">
                                <span class="mif-image"></span>
                            </span>
                        <span class="caption">Icones pequenos</span>
                    </button>

                    <button class="ribbon-icon-button">
                            <span class="icon">
                                <span class="mif-images"></span>
                            </span>
                        <span class="caption">Icones Grandes</span>
                    </button>

                    <button class="ribbon-icon-button">
                            <span class="icon">
                                <span class="mif-windows"></span>
                            </span>
                        <span class="caption">Tiles</span>
                    </button>
                </div>

                <span class="title">Classe Grupo</span>
            </div>

        </div>
    </div>
</nav>
  </body>
</html>