<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>INDEX</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"
    </head>
    <body>
        <img src="https://res.cloudinary.com/dukp6c7f7/image/upload/f_auto%2Cfl_lossy%2Cq_auto/s3-ghost/2019/02/Flask.png">
        <br>
        
        <form action="greet" method="post">
            {% for message in get_flashed_messages() %}
            <p>{{message}}</p>
            {% endfor %}
        <p></p>
        <br>
        <input type="text" name="nome">
        </br>
        <input type="submit" value="Enviar" id="greet">
        </form>

    </body>
</html>