<!DOCTYPE html>
<html>
<title>Classificação</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
<h2>Classificação:</h2>
<ul class="w3-ul">
  <li><span class="w3-badge w3-red">1</span> Jilian Durpall <span class="w3-round-xlarge w3-blue" style="padding: 5px;">560 pts</span></li>
  <li><span class="w3-badge w3-orange">2</span> Scvelenko Krito <span class="w3-round-xlarge w3-blue" style="padding: 5px;">300 pts</span></li>
  <li><span class="w3-badge w3-green">3</span> Ubuntulio Javalein <span class="w3-round-xlarge w3-blue" style="padding: 5px;">100 pts</span></li>
</ul>
</div>

</body>
</html>